header
  #main_title
    span(style="float:left")
      a(href="home.php")
        img(alt="logo" src="images/logo128.png" height="50px")
    span(style="float:left")
      h1
        | HOP HOP HOP
        br
    span(style="float:left")
      img(alt="sauts" src="images/sauts.png" height="50px")
