@font-face
{
  font-family: 'MusicWarrior';
  src: url('fonts/MusicWarrior.eot');
  src: url('fonts/MusicWarrior.eot?#iefix') format('embedded-opentype'),
       url('fonts/MusicWarrior.woff') format('woff'),
       url('fonts/MusicWarrior.ttf')  format('truetype'),
       url('fonts/MusicWarrior.svg#MusicWarrior') format('svg');
  font-weight: normal;
  font-style: normal;
}

#main_wrapper
{
  width: 900px;
  margin: auto;
}

header
{
  display: flex;
  flex-wrap: wrap;
}

#main_title
{
  flex-direction: column;
  justify-content: flex-end;
}

#banner
{
  margin: auto;
  display: none; /* penser à remettre */
}

header h1
{
  font-family: 'MusicWarrior';
}

body
{
  font-family: sans-serif;
}

#game_zone
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#board
{
  display: flex;
  flex-direction: column;

}

.line
{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cell
{
  margin-left: 5px;
  margin-right: 5px;
  height: 32px;
  /*cursor: move;*/
}

.cell > img
{
  align-items: center;
}

.player_info
{
  /*display: flex;*/
  border: 1px solid black;
  padding: 0 10px 0 10px;
  margin: 10px;
}

.player_name
{
  margin: 5px 0 0 0;
}

.player_score
{
  margin: 0 0 2px 0;
}
