doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="style.css")
    title Hop hop hop
  body
    include includes/header.pug
    #mainWrapper
      section
        h1 Bienvenue sur HOP HOP HOP !
        p
          | Ce projet est un projet de fin d’année de deuxième année de licence d’informatique de l’IED Paris 8. Son but est de synthétiser une large partie des connaissances acquises dans les différents enseignements de la première et de la deuxième année.
          section
            h1 Les dames chinoises
            p
              | Les dames chinoises sont un jeu de société se jouant sur un tablier (jeu) généralement circulaire ou hexagonal, sur lequel une étoile à six branches est représentée, comportant 121 emplacements au total.
            #seeMoreDiv(style="display:none")
              | Les pions sont disposés dans les six triangles extérieurs d'une étoile à six branches, formant six groupes de dix pions. Chaque groupe a une couleur différente. Chaque pion est toujours sur un emplacement, et un emplacement n'est occupé que par un pion.
              br
              | Le but du jeu est de déplacer l'ensemble de ses pions dans la zone opposée à sa zone de départ. Le vainqueur est le premier joueur à avoir amené la totalité de ses pions dans sa zone d'arrivée.
              br
              | Chacun contrôle un groupe de dix pions, qu'il faut amener dans la zone symétrique de sa zone de départ par rapport au centre du tablier.
              br
              | Chacun joue tour à tour un seul pion. Un mouvement se déroule selon deux modes, au choix et de façon exclusive :
              br
              | - Déplacement d'une case dans une des six directions du plateau.
              br
              | - Déplacement par sauts successifs (au cours d'un seul tour) :
              br
              | Chaque saut se fait au-dessus d'un pion d'une couleur quelconque, de façon symétrique par rapport à ce pion, et selon l'une des directions du plateau. La règle de base indique que le pion par-dessus lequel on saute doit être directement adjacent, une variante fréquemment jouée par les professionnels autorise les "sauts longs" (c’est la version choisie pour ce projet). Dans tous les cas, le saut ne peut être autorisé que si aucun autre pion ne se trouve sur la trajectoire du saut ni dans la case d'arrivée, à l'exception du pion qui sert de pivot.
              br
              | Règles supplémentaires :
              br
              | - Un saut en arrière n’est autorisé que si la case finale est située en avant de la case de départ.
              br
              | - Il est interdit de jouer le coup inverse du dernier coup.
              br
              | - Un pion peut être déplacé dans tous les triangles de départ tant que la case n’est pas occupée.
            button#seeMoreButton(onclick="seeMore()") Voir plus
      #container
        section#game
          h1 Jouer une partie
          form#newGameForm(name="newGameForm" action="game" target="_self" method="POST")
            select#mode(name="numPlayers" onclick="updateChoices()")
              option(value="2") 2 joueurs
              option(value="3") 3 joueurs
              option(value="4") 4 joueurs
              option(value="6") 6 joueurs
            br
            div
              input#player1(type="text" name="player1" placeholder="Joueur 1")
              span#player1colors
              span.tooltip
            div
              input#player2(type="text" name="player2" placeholder="Joueur 2")
              span#player2colors
              input#ordi2(type="checkbox" name="ordi2" value="Ordinateur" onclick="disablePlayer(2)")
              label(for="ordi2" onclick="disablePlayer(2)") IA
              span.tooltip
            div
              input#player3(type="text" name="player3" placeholder="Joueur 3")
              span#player3colors
              input#ordi3(type="checkbox" name="ordi3" value="Ordinateur" onclick="disablePlayer(3)")
              label(for="ordi3" onclick="disablePlayer(3)") IA
              span.tooltip
            div
              input#player4(type="text" name="player4" placeholder="Joueur 4")
              span#player4colors
              input#ordi4(type="checkbox" name="ordi4" value="Ordinateur" onclick="disablePlayer(4)")
              label(for="ordi4" onclick="disablePlayer(4)") IA
              span.tooltip
            div
              input#player5(type="text" name="player5" placeholder="Joueur 5")
              span#player5colors
              input#ordi5(type="checkbox" name="ordi5" value="Ordinateur" onclick="disablePlayer(5)")
              label(for="ordi5" onclick="disablePlayer(5)") IA
              span.tooltip
            div
              input#player6(type="text" name="player6" placeholder="Joueur 6")
              span#player6colors
              input#ordi6(type="checkbox" name="ordi6" value="Ordinateur" onclick="disablePlayer(6)")
              label(for="ordi6" onclick="disablePlayer(6)") IA
              span.tooltip
            span#color_choice
              | Nombre de couleurs :
              input#1(type="radio" name="numColors" value="1" onclick="updateColors()" checked="")
              label(for="1" onclick="updateColors()") 1
              input#2(type="radio" name="numColors" value="2" onclick="updateColors()")
              label(for="2" onclick="updateColors()") 2
              input#3(type="radio" name="numColors" value="3" onclick="updateColors()")
              label(for="3" onclick="updateColors()") 3
              br
            span#level_choice(style="display:none")
              | Difficulté :
              input#1(type="radio" name="level" value="Débutant" checked="")
              label(for="Débutant" onclick="") Débutant
              input#2(type="radio" name="level" value="Expert")
              label(for="Expert" onclick="") Expert
              br            
            input#inputNewGameForm(style="display:none" name="inputNewGameForm" value="inputNewGameForm")
            input#JOUER(type="submit" name="JOUER" value="JOUER")
          form#joinGameForm(name="joinGameForm" action="game" target="_self" method="POST")
            div
              input#player(type="text" name="player" placeholder="Nom")
              span.tooltip
              br
            div
              input#roomID(type="text" name="roomID" placeholder="N° de partie")
              span.tooltip
              br
            input#inputJoinGameForm(style="display:none" name="inputJoinGameForm" value="inputJoinGameForm")
            input#REJOINDRE(type="submit" name="REJOINDRE" value="REJOINDRE")
        include includes/high-scores.pug
      footer(clear:both="")
        a(href="mailto:contact@hophophop.fr") Nous contacter
    script(src="/socket.io/socket.io.js")
    script(src="utils.js")
    script(src="home.js")
